html[theme="dark"] {

    @h: 210;
    @h2: 170;
    
    --primary: hsl(@h 100% 70%);
    --on-primary: hsl(@h 100% 10%);
    
    --scondary: hsl(@h2 100% 70%);
    --on-scondary: hsl(@h2 100% 10%);
    
    --error: hsl(0 100% 70%);
    --on-error: hsl(0 100% 10%);

    --background: hsl(@h 20% 7%);
    --on-background: hsl(@h 20% 90%);

    --surface: hsl(@h 20% 10%);
    --on-surface: hsl(@h 20% 90%);
    
    --surface-container-low: hsl(@h 20% 12%);
    --on-surface-container-low: hsl(@h 20% 95%);

    --surface-container: hsl(@h 20% 15%);
    --on-surface-container: hsl(@h 20% 95%);

    --surface-container-high: hsl(@h 20% 18%);
    --on-surface-container-high: hsl(@h 20% 95%);
    
    --surface-variant: hsl(@h 20% 18%);
    --on-surface-variant: hsl(@h 20% 95%);

    --outline: hsl(@h 20% 28%);

    --glass: hsl(@h 100% 0% / 0.2);
}