html[theme="light"] {

    @h: 240;
    @h2: 200;

    --primary: hsl(@h 100% 40%);
    --on-primary: hsl(@h 100% 100%);

    --scondary: hsl(@h2 100% 40%);
    --on-scondary: hsl(@h2 100% 100%);

    --error: hsl(0 100% 40%);
    --on-error: hsl(0 100% 100%);

    --background: hsl(@h 0% 95%);
    --on-background: hsl(@h 0% 5%);

    --surface: hsl(@h 0% 92%);
    --on-surface: hsl(@h 0% 10%);

    --surface-container-low: hsl(@h 0% 89%);
    --on-surface-container-low: hsl(@h 0% 15%);

    --surface-container: hsl(@h 0% 87%);
    --on-surface-container: hsl(@h 0% 15%);

    --surface-container-high: hsl(@h 0% 85%);
    --on-surface-container-high: hsl(@h 0% 15%);

    --surface-variant: hsl(@h 0% 85%);
    --on-surface-variant: hsl(@h 0% 15%);

    --outline: hsl(@h 0% 75%);

    --glass: hsl(@h 100% 0% / 0.2);
}