
@keyframes spinner {
    0%,100% {
        background: var(--surface);
        scale: 0.5;
        border-radius: 15px;
    }
    50% {
        background: var(--surface-variant);
        scale: 1;
        border-radius: 4px;
    }
}