@font-face {
    font-family: "GoogleSansFlex";
    src: url(../assets/fonts/GoogleSansFlex.ttf);
}
@font-face {
    font-family: "JetBrainsMono";
    src: url(../assets/fonts/JetBrainsMono.ttf);
}
@font-face {
    font-family: "MaterialSymbolsRounded";
    src: url(../assets/fonts/MaterialSymbolsRounded.woff2);
}