footer {
    background: var(--background);
    color: var(--on-background);
    border-top: 2px dashed var(--outline);

    &>.top {
        padding: 32px;
        .title{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 12px;
            img{
                height: 52px;
            }
            span {
                font-size: 32px;
                font-variation-settings: "wght" 1000, "wdth" 20;
            }
        }
    }

    &>.bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 32px;

        .linkbar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            gap: 8px;

            &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--surface);
                color: var(--on-surface);
                padding: 12px;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.3s;

                &:first-child {
                    border-radius: 32px 8px 8px 32px;
                }

                &:last-child {
                    border-radius: 8px 32px 32px 8px;
                }

                &:hover {
                    padding: 8px 32px;
                    background: var(--surface-container);
                    color: var(--on-surface-container);
                }

                &:active {
                    background: var(--error);
                    color: var(--on-error);
                    scale: 0.9;
                    opacity: 0.5;
                }

                svg {
                    height: 30px;
                }
            }
        }

        .copyright{
            span{
                vertical-align: middle;
            }
        }
    }
}